*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out

go.work
go.work.sum

tmp/

.env
.env.*
!.env.example

.idea/
!.idea/.gitignore
!.idea/modules.xml
!.idea/misc.xml
!.idea/*.iml
!.idea/go.imports.xml
!.idea/inspectionProfiles/

.vscode/

.DS_Store

internal/db/*.sql.go
internal/db/db.go
internal/db/models.go
